@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-brand:hover,
.navbar-brand:hover span,
.navbar-brand:hover p.brand {
  color: #e9ab4e;
  /* Color heredado para el texto */
  text-decoration: none;
  /* Sin decoración de texto */
  cursor: default;
  /* Cursor predeterminado */
}

/*Para poder hacer cambio de color en navbar, transparente.*/
.navbar {
  background-color: transparent;
  /* Color de fondo inicial */
  transition: background-color 0.6s, box-shadow 0.6s;
  /* Transición para color de fondo y sombra */
  height: 80px;
  /* Altura fija de la barra de navegación */
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand {
  color: #e9ab4e;
  position: relative;
}

.brand {
  color: #e9ab4e;
  text-align: center;
  padding: 0px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 12px;
}

.navbar-brand span {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  height: 2px;
  /* Alto del span */
  background-color: #e9ab4e;
  /* Color de la línea */
}

.navbar-scrolled {
  background-color: black;
  /* Nuevo color de fondo cuando se desplaza */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  /* Sombra cuando se desplaza */
}

.nav-item .nav-link {
  font-size: 16px;
  font-weight: 100;
}

/* Estilos para de contacto */
.ct-item {
  height: 59vh;
  /* Altura del carrusel */
  position: relative;
}

/* Estilos para .c-img */
.ct-img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.6);
}