/*Para poder hacer cambio de color en navbar, transparente.*/
.navbar {
  background-color: transparent;
  /* Color de fondo inicial */
  transition: background-color 0.6s, box-shadow 0.6s;
  /* Transición para color de fondo y sombra */
  height: 80px;
  /* Altura fija de la barra de navegación */
}

.navbar-scrolled {
  background-color: black;
  /* Nuevo color de fondo cuando se desplaza */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  /* Sombra cuando se desplaza */
}

/* Estilos para de contacto */
.ct-item {
  height: 59vh;
  /* Altura del carrusel */
  position: relative;
}

/* Estilos para .c-img */
.ct-img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.6);
}