@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import "./latest-cars.css";
@import "./tag.css";
@import "./icons.css";
@import "./footer.css";


:root {
  /* Colores */
  --color-primario: #f6b759;
  --color-secundario: #FFB039;
  --color-fondo: #faf2e99c;
  --color-subtitle: #5f5e5e;
  --color-title: #212529;

  /* Tamaños */
  --tamanio-fuente: 16px;
  --ancho-contenedor: 1200px;

  /* Tipo de Letras*/
  --font-principal: "Fjalla One",
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: var(--font-principal);
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-fondo);
}

/* Navbar*/
.navbar-brand:hover,
.navbar-brand:hover span,
.navbar-brand:hover p.brand {
  color: #e9ab4e;
  /* Color heredado para el texto */
  text-decoration: none;
  /* Sin decoración de texto */
  cursor: pointer;
  /* Cursor predeterminado */
}

/*Para poder hacer cambio de color en navbar, transparente.*/
.navbar {
  background-color: transparent;
  /* Color de fondo inicial */
  transition: background-color 0.6s, box-shadow 0.6s;
  /* Transición para color de fondo y sombra */
  height: 80px;
  /* Altura fija de la barra de navegación */
  font-size: 24px;
  font-weight: bold;
  --bs-navbar-toggler-border-color: transparent;
}

.navbar-brand {
  color: var(--color-primario);
  position: relative;
  font-size: 24px;
  letter-spacing: 1px;
  padding: 5px 0px;

}

.brand {
  color: #e9ab4e;
  text-align: center;
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 0px;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.navbar-brand span {
  position: absolute;
  bottom: 33px;
  left: 0;
  width: 100%;
  height: 2px;
  /* Alto del span */
  background-color: var(--color-primario);
  /* Color de la línea */
}

/*menu color start*/
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--color-primario);
}

.nav-link:hover {
  color: var(--color-primario);
}

/*menu color end*/
.navbar-toggler {

  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navbar-toggler .custom-icon {
  font-size: 38px;
  font-weight: bold;
  color: #e9ab4e;
}

.nav-link {
  color: #ffffff;
  font-weight: 100;
  font-size: 16px;
  position: relative;
}


.btn.show,
.btn:first-child:active {

  border-color: var(--color-primario);
}


.offcanvas-header {
  color: var(--color-primario);
  border-bottom: 1px solid var(--color-primario);
}

.btn-close {
  --bs-btn-close-bg: transparent;
}

.btn-close .btn-bts {
  position: relative;
}

.btn-close .btn-bts {
  position: absolute;
  top: 10px;
  right: 20px;

}

.btn-close .btn-bts i {
  font-size: 32px;
  font-weight: 900;
  color: #f7b451;
}

/*dropdown-start*/
.dropdown {
  background-color: var(--color-primario);
  border-radius: 5px;

}

.dropdown i {
  padding-right: 5px;
}

.dropdown .btn {
  color: white;
}

.dropdown-menu {
  z-index: 1000;
  min-width: 2rem;
  --bs-dropdown-border-radius: 0px;
}

.dropdown-menu li .dropdown-item {
  padding: 2px 11px;
  color: var(--color-primario);
}

.dropdown-menu[data-bs-popper] {
  left: 0px;
  border-radius: 5px;
}


.dropdown-item.active,
.dropdown-item:hover {
  color: black;
  text-decoration: none;
  background-color: white;
}

/*dropdown-end*/

.hero-section {
  background: url(../img/cars.jpg) no-repeat center;
  background-size: cover;
  width: 100%;

}

/*carousel-start*/
.crs-item {
  height: 100vh;
  /* Altura del carrusel */
  position: relative;
}

/* Estilos para .c-img */
.crs-img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.6);
}

/*Carousel-end*/

/*Featured Car-Start*/
.ftd-car{
  padding:100px 0px;
}
/*Featured Car-End*/

/*recomendaciones - Start*/
.rcmd-car {
  padding: 100px 0px;
}

.rcmd-main_title {
  color: var(--color-title);
  padding-bottom: 40px;
}

/*recomendaciones - End*/

/*offcanvas-Start*/
.offcancas,
.offcanvas-end {
  background-color: var(--color-title);
}

/*offcanvas-End*/

/*Contact_intro-Start */
.ct_i-container {
  background: var(--color-secundario);
  padding: 35px 150px;
}

.ct_i-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ct_i-row h3 {
  font-size: 29px;
  margin: 0;
  font-weight: 100;
}

.ct_i-row .btn-primary {
  background-color: var(--color-title);
  padding: 13px 50px 11px 50px;
  border: 1px solid var(--color-title);
  text-transform: uppercase;
  font-size: 18px;}

/*Contact_intro-End */

@media(min-width:991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--color-primario);
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

@media screen and (max-width: 321px) {
  .navbar-brand {
    font-size: 15px;
    letter-spacing: none;
  }

  .brand {
    margin-top: 0px;
    font-size: 11px;
  }

  .navbar-brand span {
    bottom: 23px;
    height: 0.5px;
  }

  .dropdown {
    left: 20px;
  }

  .dropdown .btn {
    color: #212529;
    width: 45px;
    height: auto;
    padding: 0px 4px;
  }

  .dropdown-toggle::after {

    margin-left: -0.745em;
  }

  /* Ocultar el texto "INGLES" */
  .dropdown .btn span {
    display: none;
  }

  /* Mostrar el ícono "bi-globe-americas" */
  .dropdown .btn i {
    display: inline;
    margin-right: 0.5em;
    /* Espacio entre el ícono y el borde del botón */
  }

  /* Ocultar el menú desplegable */
  .dropdown-menu {
    display: none;
  }

}